@import "tailwindcss";

:root {
  --background-animation-duration: 10s;
  --line-animation-duration: 2s;
}

.animate-fade-in {
  animation: fade-in var(--background-animation-duration) ease-in-out;
}

.line-fade-in {
  animation: line-fade-in var(--line-animation-duration) ease-in-out;
}

@keyframes fade-in {
  from {
    scale: 1.2;
  }
  to {
    scale: 1;
  }
}

@keyframes line-fade-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
